<!-- Content Wrapper.-->
<div class="content-wrapper">
    <!-- Content Header -->
    <div class="content-header">
        <div class="container-fluid">
            <h5>Agenda</h5>
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class='demo-app'>
                <div class='demo-app-main'>
                    <full-calendar [options]='calendarOptions'> </full-calendar>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>