<!-- Content Wrapper.-->
<div class="content-wrapper">
    <!-- Content Header -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h6 class="m-0 p-0text-dark">Taches</h6>
                </div>
                <div class="col-sm-6" style="text-align: end;">
                    <span ><a>CRM</a></span> / <span><a>Tache</a></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="small-box bg-gradient-warning">
                        <div class="inner">
                            <h3>{{Taches.length}}</h3>
                            <p>Taches</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            Plus d'info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="small-box bg-info">
                        <div class="inner">
                            
                            <p>Taches accomplie</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            Plus d'info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="small-box bg-gradient-success">
                        <div class="inner">
                            
                            <p>Taches en cours</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-plus"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            Plus d'info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-12">
                    <p-table #dt1 [value]="Taches" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines"
                        [paginator]="true" currentPageReportTemplate="{last} / {totalRecords} contacts"
                        [globalFilterFields]="['nom', 'prenom', 'telephone', 'pays', 'typeContact', 'email', 'reference', 'civilite', 'fonction']">
                        <ng-template pTemplate="caption">
                            <div class="row">
                                <div class="col-sm-6 text-left">
                                    <span class="p-input-icon-right p-ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="mot clé" />
                                    </span>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <button (click)="openAddTache()" pButton pRipple type="button" label="Nouvelle tache" icon="pi pi-plus" iconPos="right" class="p-button-raised p-button-text"></button>
                                </div>
                                </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        titre                                 
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Createur 
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        responsable
                                    </div>
                                </th>
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        date
                                    </div>
                                </th>
                                
                                <th>
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Actions
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-tache>
                            <tr>
                                <td>
                                    {{tache.titre}}
                                </td>
                                <td>
                                    {{tache.createur}}
                                </td>
                                <td>
                                    {{tache.responsable}}
                                </td>
                                <td>
                                    {{tache.date}}
                                </td>
                                <td>
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" id="matMenu">
                                        <button mat-menu-item class="buttonMenu" (click)="openUpdateTache(tache)">
                                            <span>Modifier</span>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-menu-item class="buttonMenu"(click)="deleteTacheById(tache)">
                                            <span>Supprimer</span>
                                            <mat-icon>delete_forever</mat-icon>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="12">{{listTache?.message}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.content-wrapper -->
