<div class="header">
    <h1 mat-dialog-title>{{title}}</h1>
    <button mat-dialog-close pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
</div>
<mat-dialog-content>
    <form [formGroup]="commandeForm" #form>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-group">
                        <p-dropdown [options]="contacts" optionLabel="prenom" placeholder="Contact" [style]="{'width': '100%'}" [appendTo]="form" formControlName="contact"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="col-md-12" formArrayName="articles" *ngFor="let control of articlesForm.controls; let i = index">
                <div class="row" [formGroupName]="i">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <p-dropdown [options]="articles" optionLabel="libelle" placeholder="Articles" [style]="{'width': '100%'}" [appendTo]="form" formControlName="article">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <input type="number" pInputText class="col-12" placeholder="qté" formControlName="qte">
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-12" style="justify-content: space-between;">
                        <button style="float: right;" pButton pRipple type="button" icon="pi pi-times" (click)="removeArticleForm(i)" class="p-button-rounded p-button-outlined p-button-danger">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4" style="text-align: center; cursor: pointer;">
                <small (click)="addArticleForm()" class="text-success">Ajouter un article</small>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <p-dropdown [options]="etatOptions" optionLabel="label" placeholder="Etat" [style]="{'width': '100%'}" [appendTo]="form" formControlName="etat"></p-dropdown>
                </div>
            </div>

        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-dialog-close pButton pRipple type="button" label="Annuler" icon="pi pi-times" iconPos="right" class="p-button-text p-button-danger mr-2"></button>
    <button [disabled]="!commandeForm.valid" (click)="onsaveCommande()" pButton pRipple type="button" [label]="buttonLabel" icon="pi pi-check" iconPos="right" class="p-button-text"></button>
</mat-dialog-actions>
